/* 
  ====== 
  Global Styles 
  ======
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* work styles */

.page-container{
    display: flex;
    background: red;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    place-items: center;
    align-items: center;
}

.page{
    margin-left: 50px;
}

.grid-nav{
    display: grid;
    background: red;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: space-between;
}

.center {
  display: flex;
  place-items: center;
}

.trademark-container {
  background: #f16718;
  width: 40px;
  height: 40px;
  left: 165px;
  top: 64px;
}
.trademark {
  font-size: 14px;
  position: relative;
  top: -1px;
  font-weight: bold;
  padding: 1px;
  margin-left: 2.5px;
  color: #ffff;
}


.order-btn {
  background: #e8eff2;
  border: transparent;
  color: #162542;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem;
  width: 175px;
  height: 58px;
  margin-left: 10px;
}

.order-btn:hover {
  background: #162542;
}
.hero {
  width: 445px;
  height: 312px;
  
}

.hero-title {
  width: 445px;
}
.title {
  color: #162542;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.title-text {
  font-size: 18px;
  line-height: 26px;
  width: 400px;
  color: #7b8bad;
}
.hero-btn {
  background: #f16718;
  border: transparent;
  text-transform: uppercase;
  
}
.hero-btn:hover {
  background: #ff9b62;
}
.title-footer {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.flex {
  display: flex;
  gap: 30px;
  place-items: center;
}

.img-filter {
  position: relative;
  border-radius: 20px;
  filter: opacity(30%);
  height: 100%;
  width: 100%;
  object-fit: fit;
}

.img-filter-container {
  background: #f16718;
  border-radius: 20px;
  width: 255px;
  height: 480px;
  
}
.picture-container {
  width: 500px;
  height: 480px;
  background: red;
 
}
.picture{
    height: 100%;
}
.key-container {
  width: 255px;
  margin-top: 100px; 
  margin-left: 70px; 
}
.key-title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;

  text-transform: uppercase;

  color: #162542;
}
.title-info {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 235px;
  color: #7b8bad;
}
.property1 {
  width: 255px;
  height: 323px;
  
}
.property2 {
  width: 255px;
  height: 323px;
  
}
.property3 {
  width: 255px;
  height: 323px;
 
}
.property4 {
  width: 255px;
  height: 323px;
  
}

.svg-container {
  background: #f16718;
  border-radius: 20px;
  width: 65px;
  height: 65px;
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poperty-title {
  width: 255px;
  height: 56px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
}

.poperty-info {
  width: 255px;
  height: 130px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
}
.top-design{
    position: absolute;
    width: 195px;
    height: 240px;
    right: -71px;
    top: 196px;
    background: #E8EFF2;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.bottom-design{
    position: absolute;
    width: 135px;
    height: 236px;
    left: 0px;
    top: 950px;
    background: #E8EFF2;
    border-radius: 20px;
}

.footer{
    margin: 0 auto;
width: 272px;
height: 26px;
text-align: center;
font-family: 'Barlow';
font-style: normal;

font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
color: #7B8BAD;
}
.footer-span{
    font-weight: 700;
}